{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
.sidebar-map {
  position: fixed;
  right: 0;
}
.content_list{
  margin-left: 10px;
}
#floating-panel {
  position: fixed;
  bottom: 20px;
  right: 60px;
  z-index: 5;
  background-color: #fff;
  padding: 1px;
/*  border: 1px solid #999;*/
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 15px;
  padding: 3px;
}
</style>
{% endblock css %}

{% block main %}
  <div class="row"> 
      <div class="col-sm-{% if profile %}6{% else %}4{% endif %} content_list">
          <div id="post-container" class="photo">
            {% if profile %}
              {% include 'account/person_policy.html' with pList=True user=friend %}
            {% endif %}

            {% if post_list %}
                {% for post in post_list %}
                  {% include 'blog/partial/post_detail.html' with pList=True %}
                {% endfor %}
            {% else %}
                <div class="ibox float-e-margins" post-id="{{post.id}}">
                    <div class="ibox-title">
                        <h3>No Content</h3>
                    </div>
                    <div class="ibox-content">
                        <div class="text-center">
                          <p>You don't have a friend or bucket List</p>
                        </div>
                    </div>
            {% endif %}
            
          </div>
      </div>
      
      <div class="col-sm-{% if profile %}6{% else %}8{% endif %} sidebar-map">
          <div id="map" class="sidebar"></div>
      </div>
    {% if tag %}
      <div id="floating-panel">
        <input type=button value="{{tag}}" class="maptag" data-url="#">
      </div>
    {% else %}
      {% if pos %}
        <div id="floating-panel">
          <input type=button value="food" class="maptag" data-url="{% url 'blog:cur_tag_list' 'food' %}"> 
          <input type=button value="travel" class="maptag" data-url="{% url 'blog:cur_tag_list' 'travel' %}"> 
        </div>
      {% else %}
        <div id="floating-panel">
          <input type=button value="food" class="maptag" data-url="{% url 'blog:tag_list' 'food' %}"> 
          <input type=button value="travel" class="maptag" data-url="{% url 'blog:tag_list' 'travel' %}"> 
        </div>
      {% endif %}
      
    {% endif %}
  </div>
{% endblock main %}


{% block modal %}

{% endblock modal %}


{% block javascript %}
{% include 'blog/gps.js' %}

{% if profile %}
<link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">
<script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>
<script>
{% for theme in friend.profile.get_theme_list %}
    var elem = document.querySelector('.js-switch1-{{forloop.counter}}');
    var init = new Switchery(elem, { color: '#ED5565' });
{% endfor %}

{% for theme in friend.profile.get_invited_theme %}
    var elem = document.querySelector('.js-switch2-{{forloop.counter}}');
    var init = new Switchery(elem, { color: '#ED5565' });
{% endfor %}
</script>
{% endif %}

<script>
function populateInfoWindow(marker, infoWindow) {
    if(infoWindow.marker != marker){
        infoWindow.marker = marker;
        $.ajax({
          type: 'GET',
          async: true,
          data: {'id': marker.id},
          url: "{% url 'blog:post_detail' %}",
          dataType: 'html',
          success: function(data){
            infoWindow.setContent(data);
          }
        });
        infoWindow.open(map, marker);

        infoWindow.addListener('closeclick',function() {
            infoWindow.setMap(null);
        });
    }
}

</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXY6uFicQrbFZ-ddMHg2eQrFT9BAVqLOo&callback=initMap">
</script>

{% include 'blog/script.js' %}

{% endblock javascript %}