{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 700px;
}
.sidebar-map {
  position: fixed;
  right: 0;
}
.content_list{
  margin-left: 15px;
}
#floating-panel {
  position: fixed;
  bottom: 20px;
  right: 60px;
  z-index: 5;
  background-color: #fff;
  padding: 1px;
/*  border: 1px solid #999;*/
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 15px;
  padding: 3px;
}
</style>
{% endblock css %}

{% block main %}
  <div class="row">
      <div class="col-sm-4 content_list">
          <div id="post-container" class="photo">
            {% for post in post_list %}
              {% include 'blog/partial/post_detail.html' with pList=True %}
            {% endfor %}
          </div>
      </div>
      <div class="col-sm-8 sidebar-map">
          <div id="map" class="sidebar"></div>
      </div>
    {% if tag %}
      <div id="floating-panel">
        <input type=button value="food" class="tag" data-url="#">
      </div>
    {% else %}
      {% if pos %}
        <div id="floating-panel">
          <input type=button value="food" class="tag" data-url="{% url 'blog:cur_tag_list' 'food' %}"> 
          <input type=button value="tour" class="tag" data-url="{% url 'blog:cur_tag_list' 'tour' %}"> 
        </div>
      {% else %}
        <div id="floating-panel">
          <input type=button value="food" class="tag" data-url="{% url 'blog:tag_list' 'food' %}"> 
          <input type=button value="tour" class="tag" data-url="{% url 'blog:tag_list' 'tour' %}"> 
        </div>
      {% endif %}
      
    {% endif %}
  </div>
{% endblock main %}


{% block modal %}

{% endblock modal %}


{% block javascript %}
{% include 'blog/gps.html' %}

<script>
function populateInfoWindow(marker, infoWindow) {
    if(infoWindow.marker != marker){
        infoWindow.marker = marker;
        $.ajax({
          type: 'GET',
          async: true,
          data: {'id': marker.id},
          url: "{% url 'blog:post_detail' %}",
          dataType: 'html',
          success: function(data){
            infoWindow.setContent(data);
          }
        });
        infoWindow.open(map, marker);

        infoWindow.addListener('closeclick',function() {
            infoWindow.setMarker(null);
        });
    }
}

</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXY6uFicQrbFZ-ddMHg2eQrFT9BAVqLOo&callback=initMap">
</script>

{% include 'blog/script.html' %}

{% endblock javascript %}