{% extends 'base.html' %}
{% load static i18n bootstrap3 %}

{% block css %}
<link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/picture.css' %}"> 
<style>
.profile{
    margin-left: 15px;
}
</style>
{% endblock css %}


{% block main %}
<div class="row">
    <div class="col-sm-3 profile">
        <div class="ibox float-e-margins">
            {# FORM TITLE #}
            <div class="ibox-title">
                <h3> Profile <small> Please update profile picture.</small></h3>
                <div class="ibox-tools">
                    
                </div>
            </div>
            {# FORM CONTENT #}
            <div class="ibox-content">
                {# FORM START #}
                <form method="POST" enctype='multipart/form-data' class="form-horizontal" id="formProfile">
                    
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="preview">
                      <div class="upload">
                        <span class="preview-bg"></span>
                        <p class="preview-title"> {% trans 'Profile Picture' %} </p>
                        <img src="{% if user.profile.picture %} {{ user.profile.picture.url }} {% else %} {% static 'images/nouser.png' %}{% endif %}" 
                    style="border-radius: 5px; margin-bottom: 1em;" width="150" id='image_existed'>
                      </div>
                    </div>
                    <input type="submit" class='btn btn-primary' value='Confirm'>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        {% include 'account/person_policy.html' %}
    </div>
</div>
{% endblock main %}


{% block modal %}
<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type='button' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
                <h4 class="modal-title">Crop the photo</h4>
            </div>
            <div class="modal-body">
                <img src="" id='image' style='max-width: 100%'>
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role='group'>
                    <button type='button' class="btn btn-default js-zoom-in">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button type='button' class="btn btn-default js-zoom-out">
                        <span class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                </div>
                <button type='button' class="btn btn-default" data-dismiss='modal'>Cancel</button>
                <button type='button' class="btn btn-primary js-crop-and-upload" data-dismiss='modal'>Crop and Upload</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL TO INVITE PERSON -->
<div class="modal fade" id="modal-inviteperson">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="POST" id="form_inviteperson"> 
            <!-- HEADER -->    
                <div class="modal-header">
                    <button class="close" type='button' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                    <h4 class="modal-title"> Invite Person </h4>
                </div>

                <!-- BODY -->
                <div class="modal-body">
                
                    {% csrf_token %}
                    <!-- EVIDENCE ADD PERSON -->
                    <div class="row">
                        <div class='center'>
                            <p class="text-success"> You invite a person to a theme. </p>
                        </div>
                    </div>
                    <div class="row"> <!-- ADD PERSON -->
                        <div class="col-sm-8 search">
                            <input type="text" class="form-control" id="id_person">
                            <div class="results" id="person_results">
                              
                            </div>
                        </div>
                        <div class="col-sm-4 made-input">
                            <div class="col-sm-4" id="persons_name">
                                
                            </div>
                            <div class="col-sm-2" id="persons_id">
                                
                            </div>
                        </div>
                    </div>
                    <div style="display:block;width:100%;height:100px;"></div>
                
                </div>

                <!-- FOOTER -->
                <div class="modal-footer">
                    <button type='button' class="btn btn-default" data-dismiss='modal'>Cancel</button>
                    <button type='submit' class="btn btn-primary btn-addperson">Add Person</button>
                </div>
            </form>
        </div>
    </div>
</div>  
{% endblock modal %}


{% block javascript %}
<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
<script src="{% static 'js/cropper.min.js' %}"></script>
{% include 'account/crop.js' %}
{% include 'account/invite_person.js' %}
<script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>
<script>
{% for theme in user.profile.get_theme_list %}
    var elem = document.querySelector('.js-switch1-{{forloop.counter}}');
    var init = new Switchery(elem, { color: '#ED5565' });
{% endfor %}

{% for theme in user.profile.get_invited_theme %}
    var elem = document.querySelector('.js-switch2-{{forloop.counter}}');
    var init = new Switchery(elem, { color: '#ED5565' });
{% endfor %}
</script>
{% endblock javascript %}